<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TP_Express</title>
    <link rel="shortcut icon" href="#" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/home"><img id="logo" src="/hetic.jpg" alt="" /></a>
        <div id="link">
          <a href="/pictures">Télécharger une image !</a>
          <a href="/about">About</a>
        </div>
      </nav>
    </header>
    <main>
      <h1>bienvenue !</h1>
      <div>
        <h2>Choisi un cours :</h2>
        <a href="/cours/1/descr">Cours 1</a>
        <a href="/cours/2/descr">Cours 2</a>
        <a href="/cours/3/descr">Cours 3</a>
      </div>
    </main>
  </body>
</html>
